<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Blank Page - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-dumbbell"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>The GYM</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" href="index.html"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="profile.html"><i class="fas fa-user"></i><span>Register</span></a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="register.html"><i class="fas fa-user-circle"></i><span>Register</span></a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="pos.html"><i class="far fa-money-bill-alt"></i><span>Payment</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group"></div>
                        </form>
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><i class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-end p-3 animated--grow-in" aria-labelledby="searchDropdown">
                                    <form class="me-auto navbar-search w-100">
                                        <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                            <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"></a>
                                    <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">
                                        <h6 class="dropdown-header">alerts center</h6><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="me-3">
                                                <div class="bg-primary icon-circle"><i class="fas fa-file-alt text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 12, 2019</span>
                                                <p>A new monthly report is ready to download!</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="me-3">
                                                <div class="bg-success icon-circle"><i class="fas fa-donate text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 7, 2019</span>
                                                <p>$290.29 has been deposited into your account!</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="me-3">
                                                <div class="bg-warning icon-circle"><i class="fas fa-exclamation-triangle text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 2, 2019</span>
                                                <p>Spending Alert: We've noticed unusually high spending for your account.</p>
                                            </div>
                                        </a><a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"></a>
                                    <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">
                                        <h6 class="dropdown-header">alerts center</h6><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="dropdown-list-image me-3"><img class="rounded-circle" src="assets/img/avatars/avatar4.jpeg">
                                                <div class="bg-success status-indicator"></div>
                                            </div>
                                            <div class="fw-bold">
                                                <div class="text-truncate"><span>Hi there! I am wondering if you can help me with a problem I've been having.</span></div>
                                                <p class="small text-gray-500 mb-0">Emily Fowler - 58m</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="dropdown-list-image me-3"><img class="rounded-circle" src="assets/img/avatars/avatar2.jpeg">
                                                <div class="status-indicator"></div>
                                            </div>
                                            <div class="fw-bold">
                                                <div class="text-truncate"><span>I have the photos that you ordered last month!</span></div>
                                                <p class="small text-gray-500 mb-0">Jae Chun - 1d</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="dropdown-list-image me-3"><img class="rounded-circle" src="assets/img/avatars/avatar3.jpeg">
                                                <div class="bg-warning status-indicator"></div>
                                            </div>
                                            <div class="fw-bold">
                                                <div class="text-truncate"><span>Last month's report looks great, I am very happy with the progress so far, keep up the good work!</span></div>
                                                <p class="small text-gray-500 mb-0">Morgan Alvarez - 2d</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="dropdown-list-image me-3"><img class="rounded-circle" src="assets/img/avatars/avatar5.jpeg">
                                                <div class="bg-success status-indicator"></div>
                                            </div>
                                            <div class="fw-bold">
                                                <div class="text-truncate"><span>Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</span></div>
                                                <p class="small text-gray-500 mb-0">Chicken the Dog · 2w</p>
                                            </div>
                                        </a><a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                                    </div>
                                </div>
                                <div class="shadow dropdown-list dropdown-menu dropdown-menu-end" aria-labelledby="alertsDropdown"></div>
                            </li>
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span class="d-none d-lg-inline me-2 text-gray-600 small">Trainer</span><img class="border rounded-circle img-profile" src="assets/img/avatars/user.png"></a>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in"><a class="dropdown-item" href="#"><i class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Profile</a><a class="dropdown-item" href="#"><i class="fas fa-cogs fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Settings</a><a class="dropdown-item" href="#"><i class="fas fa-list fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Activity log</a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Logout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <h3 class="text-dark mb-1">POS</h3>
                </div>
                <div class="d-flex d-lg-flex flex-row justify-content-evenly align-content-center justify-content-lg-start align-items-lg-start" style="font-size: 10px;">
                    <div>
                        <div><label class="form-label" style="margin: 10px 10px 8px;font-size: 10px;color: rgb(14,14,14);">Invoice Number:</label><label class="form-label" style="font-size: 10px;">xxxx</label><label class="form-label" style="margin: 10px 25px 8px;font-size: 10px;color: rgb(14,14,14);">Membership Status:</label><label class="form-label" style="font-size: 10px;">xxxx</label><label class="form-label" style="margin: 10px 25px 8px;font-size: 10px;color: rgb(14,14,14);">Member Status</label><label class="form-label" style="font-size: 10px;">xxxx</label></div>
                        <div style="padding: 2px;height: 40px;width: 535px;"><label class="form-label" style="font-size: 10px;padding: 10px;color: rgb(14,14,14);">Member ID</label><input type="text" style="margin: 3px;font-size: 10px;"><input type="text" style="margin: 2px;"><label class="form-label" style="font-size: 10px;padding: 10px;margin: 0px 10px 8px;color: rgb(14,14,14);">Status</label><input type="text" style="width: 100px;margin: 2px;"></div>
                        <div style="margin: 0px;height: 40px;"><label class="form-label" style="font-size: 10px;padding: 10px;color: rgb(14,14,14);">New Member</label><select>
                                <optgroup label="This is a group">
                                    <option value="12" selected="">This is item 1</option>
                                    <option value="13">This is item 2</option>
                                    <option value="14">This is item 3</option>
                                </optgroup>
                            </select><label class="form-label" style="font-size: 10px;padding: 10px;margin: 0px 10px 8px;color: rgb(14,14,14);">Due Date</label><input type="text" style="width: 100px;margin: 2px;"></div>
                        <div style="padding: 0px;height: 40px;"><label class="form-label" style="font-size: 10px;padding: 10px;color: rgb(14,14,14);">Package</label><input type="text" style="margin: 3px;font-size: 10px;"><label class="form-label" style="font-size: 10px;padding: 10px;margin: 0px 10px 8px;color: rgb(14,14,14);">Price</label><input type="text" style="width: 100px;margin: 2px;"></div>
                        <div style="padding: 0px;height: 40px;"><label class="form-label" style="font-size: 10px;padding: 10px;color: rgb(14,14,14);">Discount</label><input type="text" style="margin: 2px;font-size: 10px;"></div>
                        <div style="padding: 0px;height: 40px;"><label class="form-label" style="font-size: 10px;padding: 10px;color: rgb(14,14,14);">Total</label><input type="text" style="margin: 2px 2px 2px 18px;font-size: 10px;"></div>
                        <div>
                            <div class="table-responsive" style="margin: 25px;width: 400px;">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th style="margin: 10px;font-size: 10px;">Workout Type</th>
                                            <th style="font-size: 10px;">Price</th>
                                            <th style="font-size: 10px;">Discount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr></tr>
                                        <tr></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div style="padding: 0px;height: 40px;"><label class="form-label" style="font-size: 10px;padding: 10px;color: rgb(14,14,14);">Net Total</label><input type="text" style="margin: 2px 2px 2px 25px;font-size: 10px;"></div>
                        <div style="padding: 0px;height: 40px;color: rgb(14,14,14);"><label class="form-label" style="font-size: 10px;padding: 10px;">Payment</label><input type="text" style="margin: 2px 2px 2px 26px;font-size: 10px;"></div>
                        <div style="padding: 0px;height: 40px;"><label class="form-label" style="font-size: 10px;padding: 10px;color: rgb(14,14,14);">Balance</label><input type="text" style="margin: 2px 2px 2px 30px;font-size: 10px;"></div>
                        <div style="padding: 0px;height: 40px;"><label class="form-label" style="font-size: 10px;padding: 10px;color: rgb(14,14,14);">Due Amount</label><input type="text" style="margin: 2px 2px 2px 9px;font-size: 10px;"></div>
                    </div>
                    <div class="d-flex d-lg-flex flex-column align-items-lg-start" style="height: 500px;width: 200px;padding: 5px;margin: 10px 0px 0px 0px;color: var(--bs-indigo);background: var(--bs-blue);">
                        <div><label class="form-label" style="color: #0e0d0d;">Name</label><input type="text" style="margin: 2px;color: rgb(11,11,11);"></div>
                        <div style="width: 300px;">
                            <div class="table-responsive text-start d-lg-flex align-items-start align-items-lg-end" style="margin: 0px;width: 200px;padding: 5px;">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th style="margin: 10px;font-size: 10px;width: 150px;color: #0e0d0d;">Name</th>
                                            <th style="font-size: 10px;margin: 0px 0px 0px 20px;color: #0e0d0d;">M ID</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr></tr>
                                        <tr></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer" style="height: 10px;">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © hs 2022</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>